In [1]:
import pandas as pd
weather = pd.read_csv("weather_2019_upscale.csv",header=0,index_col=0)

In [2]:
weather.drop(columns=["Year","m","d","Time"],inplace=True)
weather

,Cloud amount (1/8),Relative humidity (%),Precipitation intensity (mm/h),Air temperature (degC),Wind speed (m/s),Timestamp
0,0.0,77.0,0.0,-0.1,4.6,2019-04-01 00:00:00
1,0.0,77.0,0.0,-0.1,4.6,2019-04-01 00:05:00
2,0.0,77.0,0.0,0.0,4.8,2019-04-01 00:10:00
3,0.0,77.0,0.0,0.0,4.8,2019-04-01 00:15:00
4,0.0,77.0,0.0,0.1,5.1,2019-04-01 00:20:00
...,...,...,...,...,...,...
63067,1.0,42.0,0.0,-2.3,6.6,2019-11-05 23:35:00
63068,1.0,41.0,0.0,-2.2,7.5,2019-11-05 23:40:00
63069,1.0,41.0,0.0,-2.2,7.5,2019-11-05 23:45:00
63070,1.0,43.0,0.0,-2.5,7.0,2019-11-05 23:50:00
63071,1.0,43.0,0.0,-2.5,7.0,2019-11-05 23:55:00

In [3]:
weather.Timestamp = pd.to_datetime(weather.Timestamp)
weather

,Cloud amount (1/8),Relative humidity (%),Precipitation intensity (mm/h),Air temperature (degC),Wind speed (m/s),Timestamp
0,0.0,77.0,0.0,-0.1,4.6,2019-04-01 00:00:00
1,0.0,77.0,0.0,-0.1,4.6,2019-04-01 00:05:00
2,0.0,77.0,0.0,0.0,4.8,2019-04-01 00:10:00
3,0.0,77.0,0.0,0.0,4.8,2019-04-01 00:15:00
4,0.0,77.0,0.0,0.1,5.1,2019-04-01 00:20:00
...,...,...,...,...,...,...
63067,1.0,42.0,0.0,-2.3,6.6,2019-11-05 23:35:00
63068,1.0,41.0,0.0,-2.2,7.5,2019-11-05 23:40:00
63069,1.0,41.0,0.0,-2.2,7.5,2019-11-05 23:45:00
63070,1.0,43.0,0.0,-2.5,7.0,2019-11-05 23:50:00
63071,1.0,43.0,0.0,-2.5,7.0,2019-11-05 23:55:00

In [4]:
bikes_arrivals = pd.read_json("clean_arivals.json")
bikes_arrivals.rename(columns = {"datetime":"Timestamp"},inplace=True)
bikes_arrivals

                  Timestamp   id  arrivals  day_of_week  day_of_year  time
0       2019-04-01 05:50:00   25         1            0           91    71
1       2019-04-01 05:55:00   83         1            0           91    72
2       2019-04-01 06:10:00   64         1            0           91    75
3       2019-04-01 06:15:00  114         1            0           91    76
4       2019-04-01 06:30:00   30         1            0           91    79
...                     ...  ...       ...          ...          ...   ...
2652353 2019-11-03 15:50:00  260         1            6          307   191
2652354 2019-11-03 16:55:00  731         1            6          307   204
2652355 2019-11-04 06:55:00  551         1            0          308    84
2652356 2019-11-04 10:30:00  138         2            0          308   127
2652357 2019-11-04 11:20:00  525         1            0          308   137

[2652358 rows x 6 columns]

In [6]:
final_arrivals_data = bikes_arrivals.merge(weather,on = "Timestamp",how="left")
final_arrivals_data

,Timestamp,id,arrivals,day_of_week,day_of_year,time,Cloud amount (1/8),Relative humidity (%),Precipitation intensity (mm/h),Air temperature (degC),Wind speed (m/s)
0,2019-04-01 05:50:00,25,1,0,91,71,0.0,71.0,0.0,1.4,5.3
1,2019-04-01 05:55:00,83,1,0,91,72,0.0,71.0,0.0,1.4,5.3
2,2019-04-01 06:10:00,64,1,0,91,75,0.0,67.0,0.0,2.0,4.4
3,2019-04-01 06:15:00,114,1,0,91,76,0.0,67.0,0.0,2.0,4.4
4,2019-04-01 06:30:00,30,1,0,91,79,0.0,65.0,0.0,2.3,4.5
...,...,...,...,...,...,...,...,...,...,...,...
2652353,2019-11-03 15:50:00,260,1,6,307,191,3.0,96.0,0.0,1.9,2.3
2652354,2019-11-03 16:55:00,731,1,6,307,204,0.0,98.0,0.0,1.0,2.4
2652355,2019-11-04 06:55:00,551,1,0,308,84,7.0,84.0,0.0,-1.1,5.0
2652356,2019-11-04 10:30:00,138,2,0,308,127,7.0,77.0,0.0,0.0,5.2
2652357,2019-11-04 11:20:00,525,1,0,308,137,0.0,76.0,0.0,0.1,5.5

In [13]:
# Doing the same for departures

bikes_departures = pd.read_json("clean_departures.json")
bikes_departures.rename(columns = {"datetime":"Timestamp"},inplace=True)
final_departures_data = bikes_departures.merge(weather,on = "Timestamp",how="left")
final_departures_data

,Timestamp,id,departures,day_of_week,day_of_year,time,Cloud amount (1/8),Relative humidity (%),Precipitation intensity (mm/h),Air temperature (degC),Wind speed (m/s)
0,2019-04-01 05:40:00,60,1,0,91,69,0.0,74.0,0.0,1.1,4.8
1,2019-04-01 05:50:00,85,1,0,91,71,0.0,71.0,0.0,1.4,5.3
2,2019-04-01 06:00:00,86,1,0,91,73,0.0,68.0,0.0,1.7,5.0
3,2019-04-01 06:05:00,26,1,0,91,74,0.0,68.0,0.0,1.7,5.0
4,2019-04-01 06:10:00,35,1,0,91,75,0.0,67.0,0.0,2.0,4.4
...,...,...,...,...,...,...,...,...,...,...,...
2597574,2019-10-31 23:50:00,82,2,3,304,287,0.0,94.0,0.0,0.1,4.6
2597575,2019-10-31 23:50:00,95,1,3,304,287,0.0,94.0,0.0,0.1,4.6
2597576,2019-10-31 23:50:00,161,1,3,304,287,0.0,94.0,0.0,0.1,4.6
2597577,2019-10-31 23:55:00,22,1,3,304,288,0.0,94.0,0.0,0.1,4.6
2597578,2019-10-31 23:55:00,260,1,3,304,288,0.0,94.0,0.0,0.1,4.6

In [ ]:
final_arrivals_data.to_csv('final_arrivals_data.csv')
final_departures_data.to_csv('final_departures_data.csv')