In [1]:
import pandas as pd
weather = pd.read_csv("weather_2018+2019_upscale.csv",header=0,index_col=0)

In [2]:
weather.drop(columns=["Year","m","d","Time"],inplace=True)
weather

,Cloud amount (1/8),Relative humidity (%),Precipitation intensity (mm/h),Air temperature (degC),Wind speed (m/s),Timestamp
0,0.0,77.0,0.0,-0.1,4.6,2019-04-01 00:00:00
1,0.0,77.0,0.0,-0.1,4.6,2019-04-01 00:05:00
2,0.0,77.0,0.0,0.0,4.8,2019-04-01 00:10:00
3,0.0,77.0,0.0,0.0,4.8,2019-04-01 00:15:00
4,0.0,77.0,0.0,0.1,5.1,2019-04-01 00:20:00
...,...,...,...,...,...,...
137659,7.0,86.0,0.0,9.4,8.4,2018-10-31 23:35:00
137660,7.0,86.0,0.0,9.4,9.8,2018-10-31 23:40:00
137661,7.0,86.0,0.0,9.4,9.8,2018-10-31 23:45:00
137662,8.0,85.0,0.0,9.4,8.6,2018-10-31 23:50:00
137663,8.0,85.0,0.0,9.4,8.6,2018-10-31 23:55:00

In [3]:
weather.Timestamp = pd.to_datetime(weather.Timestamp)
weather

,Cloud amount (1/8),Relative humidity (%),Precipitation intensity (mm/h),Air temperature (degC),Wind speed (m/s),Timestamp
0,0.0,77.0,0.0,-0.1,4.6,2019-04-01 00:00:00
1,0.0,77.0,0.0,-0.1,4.6,2019-04-01 00:05:00
2,0.0,77.0,0.0,0.0,4.8,2019-04-01 00:10:00
3,0.0,77.0,0.0,0.0,4.8,2019-04-01 00:15:00
4,0.0,77.0,0.0,0.1,5.1,2019-04-01 00:20:00
...,...,...,...,...,...,...
137659,7.0,86.0,0.0,9.4,8.4,2018-10-31 23:35:00
137660,7.0,86.0,0.0,9.4,9.8,2018-10-31 23:40:00
137661,7.0,86.0,0.0,9.4,9.8,2018-10-31 23:45:00
137662,8.0,85.0,0.0,9.4,8.6,2018-10-31 23:50:00
137663,8.0,85.0,0.0,9.4,8.6,2018-10-31 23:55:00

In [4]:
bikes_arrivals = pd.read_json("clean_arivals.json")
bikes_arrivals.rename(columns = {"datetime":"Timestamp"},inplace=True)
bikes_arrivals

                  Timestamp     id  arrivals  day_of_week  day_of_year  time
0       2018-04-03 07:55:00   76.0         1            1           93    96
1       2018-04-03 08:00:00   64.0         1            1           93    97
2       2018-04-03 08:05:00   30.0         1            1           93    98
3       2018-04-03 08:15:00   69.0         1            1           93   100
4       2018-04-03 08:20:00    6.0         1            1           93   101
...                     ...    ...       ...          ...          ...   ...
4820616 2019-11-03 15:50:00  260.0         1            6          307   191
4820617 2019-11-03 16:55:00  731.0         1            6          307   204
4820618 2019-11-04 06:55:00  551.0         1            0          308    84
4820619 2019-11-04 10:30:00  138.0         2            0          308   127
4820620 2019-11-04 11:20:00  525.0         1            0          308   137

[4820621 rows x 6 columns]

Remove the November rows

In [5]:
bikes_arrivals.drop(bikes_arrivals[pd.to_datetime(bikes_arrivals['Timestamp']).dt.month == 11].index, inplace=True)
bikes_arrivals

                  Timestamp     id  arrivals  day_of_week  day_of_year  time
0       2018-04-03 07:55:00   76.0         1            1           93    96
1       2018-04-03 08:00:00   64.0         1            1           93    97
2       2018-04-03 08:05:00   30.0         1            1           93    98
3       2018-04-03 08:15:00   69.0         1            1           93   100
4       2018-04-03 08:20:00    6.0         1            1           93   101
...                     ...    ...       ...          ...          ...   ...
4820587 2019-10-31 23:55:00   28.0         1            3          304   288
4820588 2019-10-31 23:55:00   78.0         2            3          304   288
4820589 2019-10-31 23:55:00   99.0         1            3          304   288
4820590 2019-10-31 23:55:00  121.0         1            3          304   288
4820591 2019-10-31 23:55:00  202.0         1            3          304   288

[4820536 rows x 6 columns]

In [15]:
#There is one malformed ID value, fix that
bikes_arrivals["id"].replace("19-", "19", inplace=True)

In [16]:
#bikes_arrivals["Timestamp"] = bikes_arrivals["Timestamp"].astype(str)
#weather["Timestamp"] = weather["Timestamp"].astype(str)
final_arrivals_data = bikes_arrivals.merge(weather,on = "Timestamp",how="left")
final_arrivals_data

,Timestamp,id,arrivals,day_of_week,day_of_year,time,Cloud amount (1/8),Relative humidity (%),Precipitation intensity (mm/h),Air temperature (degC),Wind speed (m/s)
0,2018-04-03 07:55:00,76.0,1,1,93,96,0.0,69.0,0.0,14.5,4.9
1,2018-04-03 08:00:00,64.0,1,1,93,97,0.0,69.0,0.0,14.5,5.7
2,2018-04-03 08:05:00,30.0,1,1,93,98,0.0,69.0,0.0,14.5,5.7
3,2018-04-03 08:15:00,69.0,1,1,93,100,0.0,68.0,0.0,14.5,6.6
4,2018-04-03 08:20:00,6.0,1,1,93,101,0.0,66.0,0.0,14.5,6.5
...,...,...,...,...,...,...,...,...,...,...,...
5246105,2019-10-31 23:55:00,28.0,1,3,304,288,0.0,94.0,0.0,0.1,4.6
5246106,2019-10-31 23:55:00,78.0,2,3,304,288,0.0,94.0,0.0,0.1,4.6
5246107,2019-10-31 23:55:00,99.0,1,3,304,288,0.0,94.0,0.0,0.1,4.6
5246108,2019-10-31 23:55:00,121.0,1,3,304,288,0.0,94.0,0.0,0.1,4.6
5246109,2019-10-31 23:55:00,202.0,1,3,304,288,0.0,94.0,0.0,0.1,4.6

In [8]:
# Doing the same for departures

bikes_departures = pd.read_json("clean_departures.json")
bikes_departures.rename(columns = {"datetime":"Timestamp"},inplace=True)
final_departures_data = bikes_departures.merge(weather,on = "Timestamp",how="left")
final_departures_data

,Timestamp,id,departures,day_of_week,day_of_year,time,Cloud amount (1/8),Relative humidity (%),Precipitation intensity (mm/h),Air temperature (degC),Wind speed (m/s)
0,2018-04-03 07:40:00,44,2,1,93,93,0.0,70.0,0.0,14.5,5.0
1,2018-04-03 07:50:00,22,1,1,93,95,0.0,69.0,0.0,14.5,4.9
2,2018-04-03 07:55:00,22,1,1,93,96,0.0,69.0,0.0,14.5,4.9
3,2018-04-03 07:55:00,44,1,1,93,96,0.0,69.0,0.0,14.5,4.9
4,2018-04-03 08:10:00,22,1,1,93,99,0.0,68.0,0.0,14.5,6.6
...,...,...,...,...,...,...,...,...,...,...,...
5104345,2019-10-31 23:50:00,82,2,3,304,287,0.0,94.0,0.0,0.1,4.6
5104346,2019-10-31 23:50:00,95,1,3,304,287,0.0,94.0,0.0,0.1,4.6
5104347,2019-10-31 23:50:00,161,1,3,304,287,0.0,94.0,0.0,0.1,4.6
5104348,2019-10-31 23:55:00,22,1,3,304,288,0.0,94.0,0.0,0.1,4.6
5104349,2019-10-31 23:55:00,260,1,3,304,288,0.0,94.0,0.0,0.1,4.6

In [17]:
final_arrivals_data.to_csv('final_arrivals_data.csv')
final_departures_data.to_csv('final_departures_data.csv')